/*
 * Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
 * the trix-editor content (whether displayed or under editing). Feel free to incorporate this
 * inclusion directly in any other asset bundle and remove this file.
 *
 *= require trix
*/

/*
 * We need to override trix.css’s image gallery styles to accommodate the
 * <action-text-attachment> element we wrap around attachments. Otherwise,
 * images in galleries will be squished by the max-width: 33%; rule.
*/
.trix-content .attachment-gallery > action-text-attachment,
.trix-content .attachment-gallery > .attachment {
  flex: 1 0 33%;
  padding: 0 0.5em;
  max-width: 33%;
}

.trix-content .attachment-gallery.attachment-gallery--2 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--2 > .attachment, .trix-content .attachment-gallery.attachment-gallery--4 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > .attachment {
  flex-basis: 50%;
  max-width: 50%;
}

.trix-content action-text-attachment .attachment {
  padding: 0 !important;
  max-width: 100% !important;
}

.trix-content {
  .trix-button-row {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
  }

  .trix-button-group {
    margin-bottom: 0.5rem;
  }

  .trix-button {
    width: auto;
    margin-right: 0.25rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: #f8f9fa;
    color: #ec0c0c;
    
    &:hover {
      background-color: #f42323;
    }
    
    &.trix-active {
      background-color: #e62828;
      color: white;
    }
  }

  .trix-editor {
    border: 1px solid #0578ec;
    border-radius: 0.25rem;
    padding: 0.5rem;
    min-height: 150px;
  }
}
